.form {
width: 35%;
margin: 100px auto;


}

.form label {
	
	display: block;
	text-transform: capitalize;
	margin-bottom: 5px;
}

.form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	

}

.form button{
 width: 30%;
	padding: 10px;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 500;
}